APP_ENV=dev

DB_HOST=db
DB_NAME=bitrix
DB_USER=bitrix
DB_PASSWORD=bitrix
DB_ROOT_PASSWORD=root

SMTP_HOST=mail
SMTP_PORT=1025
MAIL_FROM=noreply@btk.local

SMARTCAPTCHA_SERVER_KEY=
SMARTCAPTCHA_CLIENT_KEY=